<?xml version="1.0" encoding="utf-8"?>
<config>
  <fieldset name="debug"
            label="COM_CONFIG_DEBUG_SETTINGS"
    >
    <field name="debug"
           type="list"
           default="0"
           label="COM_CONFIG_FIELD_DEBUG_SYSTEM_LABEL"
      >
      <option value="0">JOFF</option>
      <option value="1">JON</option>
    </field>
  </fieldset>
	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>
		<field name="rules" type="rules"
			component="com_jdiction"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>	
</config>